body {
  background-color: #454555; 
  margin: 0; 
  padding: 0;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding: 20px; 
}

.small-logo {
  width: 80px !important;
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  z-index: 10 !important;
}

.logo-link {
  z-index: 11 !important;
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Full viewport height */
}




