.positioning-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  .backdrop {
    background-color: #B2B6FF;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 500px;
    position: absolute;
    z-index: 1;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 490px;
    background-color: #FFE8FA;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
  }
  
.img{
    width: 200px;
    height: 200px;
    border-radius: 25cm;
    margin-top: 66px;
}

.text {
    font-size: 1rem;
    color: black;
    padding-top: 20px;
}

.name {
    font-size: 2rem;
    color: black;
}
